h1{
    font-family: Arial, sans-serif;
    font-size: 40px;
    text-align: left;
    margin-top: 90px;
}
body{
    background-image: linear-gradient(to left,#FFB6C1,#ffffff);
}

        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 40px;
            border-bottom: 1px solid #7a7979;
        }
        .navbar:hover{
           background-image:linear-gradient(to right, #d9d9d9, #ffffff);
        }
        .logo img{
             width: 100px;
             height: auto;
        }

        .menu{
            display: flex;
            gap: 30px;
            font-size: 30px;
        }

        .menu a{
            text-decoration: none;
            color: black;
            font-weight: 500;
        }
        .join-btn{
            padding: 10px 40px;
            background: black;
            color: white;
            border-radius: 7px;
            text-decoration: none;
            font-weight: bold;
        }
       .section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;

}

.text h1{
    font-size: 40px;
    font-weight: 650;
    line-height: 1.2;
    margin-top: 50px;
}


.image img{
    margin-top: 50px;
    width: 600px;   
    height: 400px;
    border-radius: 10px;
}
